body123{	
background: rgb(243,226,199); 
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 70%);
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(182,141,76,1) 70%); 
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(182,141,76,1) 70%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#b68d4c',GradientType=0 );
}

body{
	display: block;
	width: 100%;
	/*height: 100%;*/
	margin: 0 auto;
	background-image: url(../images/background01.png);
	background-size:  120px;
	/*background-image: url('../images/top2_1.png');*/

	
}
a {
    text-decoration:none;  /*隱藏全部超連結 底線*/
    font-family: Microsoft JhengHei; /*選單的字形轉類*/
    color:#414141; text-decoration:none;
}
a:hover{
	color:#4c7cbd; text-decoration:none;}


.topall{ 
	display: block;
	width: 100%;
	height: 350px;
	margin: 0 auto;
	background: #F9F1A7;

		
}



#wrapper {
	width: 1024px;
	padding-top: 0px;  /*clearfix要配合減少*/
	margin: 0 auto;  /*水平置中*/
	min-height: 100%;
	/*background-position: center;*/
	position: relative;
	min-height: 100%;  
    /*margin-bottom: -50px; */
}

.maintop1 {
	display: block;
	width: 100%;
	background:#F9F1A7;
	z-index: 1;
   padding-top: 50px;	
}
.clearfix {
  *zoom: 1;
/*   width: 1024px;
  height: 250px;
background:#F9F1A7; */
}
.clearfix:before, 
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}



/*.test {
	height: 360px;
	background: #FFF;
}*/

.header-left {		
width: 300px;
/*height: 100%;*/
/*background:black;*/  /*顏色區塊分辨 定義黑色*/
/*margin-left: 13%;*/
/*padding-top: 10px;*/
float:left;
}


.header-left img{
	display: block;
	width: 206px;
	height: 213px;
	/*margin-top: 50px;*/
	margin: 0 auto;/*水平置中*/
	z-index: 10;
}


.header-right {
	display: block;
	width: 718px;
	height: 300px;
	/*margin-top: -16px;*/
	float: left;
   /* margin-left: 7.2%;*/ /*區塊跟左邊離開的距離*/

}


/*.header-bottom {
	display: block;
	width: 200px;
	height: 200px;
	background: blue;
}*/


.headertop1 {
	width: 718px; 
	height: 173px;
	/*background: blue;*/
	margin-top: -15px;

     margin-left: 190px; 
    /*padding-top: 100px;   */
}


.headertop1 ul {
	/*padding-left:54%;  /*按鈕左側起始位置*/*/
	/*background:red;*/
	
}


.headertop1 li 	{
	display: block;
	 width: 60px; 
	/*color: #FFFF00;*/
	/*margin-right: 50px;*/ /*字跟小圖案間距*/
	float:left;
}

.headertop1 li a {
	
}

.headertop1 li.first {
	display: block;
	width: 250px;
	height: 70px;
	margin-right:20px;  /*小圖案間距*/
	/*background: #0ff;*/ /*寬架*/
}

.headertop1 li.first a {
	display: block;
	width: 40px;
	height: 12px;
	font-size: 20px; /*字的大小 相加不得超過width*/
	color: #000; /*標題字顏色*/
	float: right;

}

.headertop1 li.first b {
	display: block;
	width: 10px;
	height: 12px;
	font-size: 20px; /*字的大小 相加不得超過width*/
	color: #000; /*標題字顏色*/
	float: right;

}

.headertop1 li.first a:hover{
	color:#4c7cbd; text-decoration:none;}

.headertop1 li.last {
	display: block;
	margin-right: 0px;  /*小圖案間距*/
	width: 50px;
	float: left;
}


.headertop1 img{
	display: block;
    width: 40px;  /*圖案大小*/
}


.headertop2 {
    width: 718px;   /*區塊的寬度*/
    height:127px;   /*區塊的高度*/
  /*  background:black;*/    /*區塊定義黑色辨識*/
	/*margin-top: 170px; */  /*跟上面區塊的距離*/
   /* margin-left: -20px;*/ /*跟左邊區塊的距離*/
 /*   padding-top: 20px;*/  /*按鈕跟區塊的距離*/
 	/*background:red;*/
}


.headertop2 ul {
	padding-left:10px;  /*按鈕左側起始位置*/

}


.headertop2 li {
	position: relative; 
	float:left;
	list-style-type:none;  /*項目符號 無類型*/
	display:block;
	/*background-image: url(../images/button.png);*/ /*按鈕圖案*/
 
	background-repeat: no-repeat;
	background-position: center;
	width:20%;  /*按鈕間距*/
	height: 40px;
	text-align:center; /*文字水平置中*/
	text-decoration:none;  /*文字裝飾，無，清除超連結*/
	/*color:#333;   */
	/*padding-top:80px;*/  /*按鈕高度*/
}


.headertop2 a {
	display: block;
	color: #0A033D;  /*字的顏色*/
}
.headertop2 a:hover{
	color:#4c7cbd; text-decoration:none;}

.headertop2 a img {
	display: red;
	width: 100%;
}


.headertop2 b {
  /* position: absolute;
  top: 50px;
  left: 50px;
  display: block;
  width: 100px; */
  /* background: green; */
}


.headertop2 ul {
	margin: 0;
	padding: 0;
}


.headertop2 li {
	margin: 0;
	padding: 0;
}


.headertop2 li span {
  position: absolute;
  /* top: 0; */
  top: -40px; /* 比較順暢 */
  left: 50%;
  z-index: 0;
  display: block;
  width: 70px;
  height: 70px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 20px; */
  /* background: #f90; */
  transition: all 0.5s ease;   /*縮下去時間*/
  opacity: 0;
  margin-left: -35px; /*中間的位置 width:50 扣掉left50% 50%-25*/
}

.headertop2 li b {}


.headertop2 li.navlink01 span {
	background-image: url('../images/top2_1.png');
}


.headertop2 li.navlink02 span {
	background-image: url('../images/top2_2.png');
}


.headertop2 li.navlink03 span {
	background-image: url('../images/top2_3.png');
}


.headertop2 li.navlink04 span {
	background-image: url('../images/top2_4.png');
}


.headertop2 li.navlink05 span {
	background-image: url('../images/top2_5.png');
}


.headertop2 li:hover span {
    top: -62px;
    opacity: 1;
}


.headertop2 b {
  position: relative;
  z-index: 2;
  display: block;
  line-height: 40px;
  	font-size: 20px;   /*字的大小*/
  /* background: #f00; */
  font-weight: 1000;
}

.nav-sub {
	position: absolute;
	top: 40px; /*下拉選單的起始位置*/
	left: 0;   /*下拉選單的起始位置*/
	z-index: 3;
	display: block;
	width: 100%; /*下拉的寬度*/
	height: 0; /*隱藏下拉選單*/
	/*	*/  /*下拉選單顏色*/
	overflow: hidden;
	transition: height .7s ease;
	font-size: 20px; /*下拉選單的字型大小*/
	  font-weight: 600; /*字的厚度*/
	
}


.headertop2 li.navlink02:hover .nav-sub {
	height: 80px;/*下拉選單的長度*/
  	transition: height .5s ease;
}


.headerdown1 {
	clear: both;
	position: relative;
	display: block;
	margin-top: 0px;/*區塊上下距離*/
	/*background:green;*/
	/*border-width:10px; border-style:ridge;*/
	/*margin-left: 70px;*/ /*區塊跟邊界距離*/
	width: 100%;
	height: 500px;
	top:-80px;
	z-index: 0;
	/*padding-top: 80px;/*區塊內部距離*/*/
}


.headerdown1-ctrl a {
	position: absolute;
	top: 50%;
	z-index: 2;
	display: block;
	background-repeat: no-repeat;
	width: 55px;
	height: 65px;	
}


.headerdown1-ctrl a.prev {  
    background-image: url(../images/left.png);
    background-size: 90% auto;  /*箭頭大小*/
	left: -70px;
	top: 260px;
	z-index: 2;
}


.headerdown1-ctrl a.next {
	background-image: url(../images/right.png);
	background-size: 90% auto;  /*箭頭大小*/
	right: -50px;
	top: 260px;
	z-index: 3;
}


.headerdown1-ctrl a.top {
	background-image: url(../images/top.png);
	background-size: 90% auto;  /*箭頭大小*/
	right: 18%;  
	top: 92%;
	z-index: 10;
	position:fixed;
}


.headerdown1 img{
	display: block;
	/*background:blue;*/
	width: 1000px;
	height: 600px;
	margin-left: 0px; /*圖片左右距離*/
	margin-top: 0px;
	z-index: 3;
}


/*.headerdown1 img a{
	display: block;	
	background:blue;
	width: 150px;
	height: 100px;
  margin-left: 10px;  
}*/

.headerdown2{
	display: block;
	/*background: blue;*/
	width: 1000px
	height:650px;
	padding-top: 72px;
}
.headerdown2 img{
	display: block;
	/*background:blue;*/
	width: 329px;     /*圖片寬*/
	height: 111px;    /*圖片高*/
    margin-left: 335.5px; /*圖片左右距離*/
	/*margin-top: 50px;*/
	z-index: 3;
}

.headerdown3{
	display: block;
	background: red;
	width: 1000px;
	height:600px;
	margin-top: 10px;  /*區塊跟區塊高度*/
	/*padding-top: 12px;*/
	/*z-index: 5;*/
}
.headerdown3 img{
	display: block;
	background:blue;
	width: 1000px;
	height: 600px;
	/*padding: 50px 60px;*/
	/*margin-left: 20px; /*圖片左右距離*/
	/*margin-top: 0px;*/
	z-index: 3;
}
.headerdown4{
	display: block;
	/*background: blue;*/
	width: 1000px
	height:650px;
	padding-top: 72px;
	/*z-index: 5;*/
}
.headerdown4 img{
	display: block;
	/*background:blue;*/
	width: 329px;      /*圖片寬*/
	height: 111px;     /*圖片高*/
	margin-left: 335.5px; /*圖片左右距離*/
	margin-top: 0px;
	z-index: 3;
}
.headerdown5{
	display: block;
	/*background: blue;*/
	width: 1000px
	height:600px;
	margin-top: 10px;  /*區塊跟區塊高度*/
	/*z-index: 5;*/
}
.headerdown5 img{
	display: block;
	/*background:blue;*/
	width: 1000px;
	height: 600px;
	margin-left: 0px; /*圖片左右距離*/
	margin-top: 0px;
	z-index: 3;
}

.headerdown6{
	clear:both;
	display: block;
	width: 100%;
	height: 100px;
	/*margin: 0 auto;*/
	background: #F9F1A7;
}

.headerdown6 p{

   padding-top: 38px;
   font-size: 22px;   /*字的大小*/
   font-weight: 1000; /*字的厚度*/
   text-align:center;  /*文字水平置中*/
    font-family: Microsoft JhengHei;
}


/*下面是木的商品*/


.sellall{
	display: block;
	width: 1024px;
	background-color: #123;
}

.selldown1{
	display: block;
	/*background-color: #1874CD;*/
	width: 100%;
	height: 100px; 
	text-align:center;
	float: left;
	font-size:45px;	
}

.selldown2{
	display: block;
	/*background-color: #BDB76B;*/
	width: 100%;
	height:81px;
	margin: 0 auto;
	float: left;
}

.selldown2 img{
	display: block;
	/*background-color: #BDB76B;*/
	width: 105px;
	height:81px;
	margin: 0 auto;
	float: left;
	padding-left: 459px;
    /*padding-top: 122px;*/
}

.selldown3{
	display: block;
	/*background-color:#EE2C2C;*/
	width:1024px;
	height:240px;
	margin:0 auto;
	float: left;
	overflow: hidden;
	padding:20px;
	transition: all .3s ease;
}

.selldown3:hover {
	display: block;
	/*background-color:#EE2C2C;*/
	width:1024px;
	/* height:290px; */
	height: 350px;
	margin:0 auto;
	float: left;
	overflow: hidden;
}

.selldown3 ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.selldown3 li {
	position: relative;
	float: left;
	width: 240px;
	padding-left: 75px;
}

/* 新增一個包住文字的div，然後設定他的寬高、絕對定位等其他參數值 */
.selldown3 .text {
	position: absolute;
	bottom: -80px;
	z-index: 1;
	display: block;
	width: 1024px;
	/*background: #CCC;*/
	margin: 0;
	padding: 16px 0;
	opacity: 0;
	transition: all .3s ease; /* 過場漸變效果 */
}

.selldown3 .text p {
	display: block;
	line-height: 24px;
	height: 100px; /* 假設只有兩行高 24px*2 */
	margin: 0;
	padding: 0;
	overflow: hidden; /* 超過兩行的文字直接隱藏 */
}

.selldown3 li:hover .text {
	z-index: 2;
	bottom: -150px;  /*點圖片 字滑下來距離*/
	opacity: 1;
}

/* 調整文字區域的絕對位置 */
.selldown3-item01 .text {
	left: 0;
}

.selldown3-item02 .text {
	left: -315px;
}

.selldown3-item03 .text {
	right: -79px;
}



.selldown3 img {
	display: block;
	width: 100%;
	/*height: 338px;*/
	float: left;
	transition: all 0.5s ease 0s;
}

.selldown3 img:hover {
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.2);
	opacity: .99;
}
.selldown4{
	display:block;
	/*background-color:#9A32CD;*/
	width:100%;
    height:181px;
	margin:0 auto;
	float: left;

}

.selldown4 img {
	width: 105px;
	height:81px;
	margin: 0 auto;
	float: left;
	padding-left: 459px;
    padding-top: 100px;
}

.selldown5{
	display: block;
	/*background-color:#EE2C2C;*/
	width:1024px;
	height:240px;
	margin:0 auto;
	float: left;
	overflow: hidden;
	padding:20px;
	transition: all .3s ease;
}

.selldown5:hover {
	display: block;
	/*background-color:#EE2C2C;*/
	width:1024px;
	/* height:290px; */
	height: 320px;
	margin:0 auto;
	float: left;
	overflow: hidden;
}

.selldown5 ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.selldown5 li {
	position: relative;
	float: left;
	width: 240px;
	padding-left: 75px;
}

/* 新增一個包住文字的div，然後設定他的寬高、絕對定位等其他參數值 */
.selldown5 .text {
	position: absolute;
	bottom: -80px;
	z-index: 1;
	display: block;
	width: 1024px;
	/*background: #CCC;*/
	margin: 0;
	padding: 16px 0;
	opacity: 0;
	transition: all .3s ease; /* 過場漸變效果 */
}

.selldown5 .text p {
	display: block;
	line-height: 24px;
	height: 80px; /* 假設只有兩行高 24px*2 */
	margin: 0;
	padding: 0;
	overflow: hidden; /* 超過兩行的文字直接隱藏 */
}

.selldown5 li:hover .text {
	z-index: 2;
	bottom: -120px;
	opacity: 1;
}

/* 調整文字區域的絕對位置 */
.selldown5-item01 .text {
	left: 0;
}

.selldown5-item02 .text {
	left: -315px;
}

.selldown5-item03 .text {
	right: -79px;
}



.selldown5 img {
	display: block;
	width: 100%;
	/*height: 338px;*/
	float: left;
	transition: all 0.5s ease 0s;
}

.selldown5 img:hover {
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.2);
	opacity: .99;
}
.selldown6{
	display:block;
	/*background-color:#EEEED1;*/
	width:1024px;
	height:181px;
	margin:0 auto;
	float:left;
}

.selldown6 img{
	display:block;
	width: 105px;
	height:81px;
	margin: 0 auto;
	float: left;
	padding-left: 459px;
    padding-top: 100px;
}


.selldown7{
	display: block;
	/*background-color:#EE2C2C;*/
	width:1024px;
	height:240px;
	margin:0 auto;
	float: left;
	overflow: hidden;
	padding:20px;
	transition: all .3s ease;
}

.selldown7:hover {
	display: block;
	/*background-color:#EE2C2C;*/
	width:1024px;
	/* height:290px; */
	height: 320px;
	margin:0 auto;
	float: left;
	overflow: hidden;
}

.selldown7 ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.selldown7 li {
	position: relative;
	float: left;
	width: 240px;
	padding-left: 75px;
}

/* 新增一個包住文字的div，然後設定他的寬高、絕對定位等其他參數值 */
.selldown7 .text {
	position: absolute;
	bottom: -80px;
	z-index: 1;
	display: block;
	width: 1024px;
	/*background: #CCC;*/
	margin: 0;
	padding: 16px 0;
	opacity: 0;
	transition: all .3s ease; /* 過場漸變效果 */
}

.selldown7 .text p {
	display: block;
	line-height: 24px;
	height: 100px; /* 假設只有兩行高 24px*2 */
	margin: 0;
	padding: 0;
	overflow: hidden; /* 超過兩行的文字直接隱藏 */
}

.selldown7 li:hover .text {
	z-index: 2;
	bottom: -140px;   /*滑動的字跟圖片距離*/
	opacity: 1;
}

/* 調整文字區域的絕對位置 */
.selldown7-item01 .text {
	left: 0;
}

.selldown7-item02 .text {
	left: -315px;
}

.selldown7-item03 .text {
	right: -79px;
}



.selldown7 img {
	display: block;
	width: 100%;
	/*height: 338px;*/
	float: left;
	transition: all 0.5s ease 0s;
}

.selldown7 img:hover {
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.2);
	opacity: .99;
}
/*下面是木的故事*/

.story1 {
	display:block;
	/*background-color:red;*/
	width:1024px;
	height:350px;
	padding-top: 10px;
	margin:0 auto;
	padding-left: 20px;
	float:left;

}

.story2 {
	display:block;
	/*background-color:yellow;*/
	padding-left: 12px;
	width:1024px;
	height:600px;
	/*margin-top: 50px;*/
	margin-bottom: 30px;
	float:left;
}
/*下面是木的訂購*/
.order1 {
	display:block;
	/*background-color:#555;*/
	width:942px;
	height:380px;
	margin:0 auto;
	float:left;
	padding-top: 20px;
}

.order2 {
	display:block;
	/*background-color:#456;*/
	width:1024px;
	height:485px;
	margin:0 auto;
	float:left;	
}

/*下面是木的聯絡*/
.tel01{

	display: block;
	/*background-color:#888;*/
	width:800px;
	height: 450px;
	margin-left: 100px;
	float: left;
}

.tel013{
	display: block;
	/*background-color:#235;*/
	width: 180px;
	height: 40px;
	font-size: 30px;
	float: right;
}

.tel02{
	display: block;
	/*background-color:#545;*/
	width:1024px;
	height: 580px;
	margin: 0 auto;
	float: left;
}

.tel02 iframe {
	display: block;
	/*background-color:#545;*/
	width:1024px;
	height: 550px;
	margin: 0 auto;
	float: left;
}

#id_footer {
    /* 設定footer的高度 */
    /*height: 50px;*/
    margin-bottom: -700px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}


#id_footer2 {
    /* 設定footer的高度 */
    /*height: 50px;*/
    margin-bottom: -160px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

#id_footer3 {
    /* 設定footer的高度 */
    /*height: 50px;*/
    margin-bottom: -285px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

#id_footer4 {
    /* 設定footer的高度 */
    /*height: 50px;*/
    margin-bottom: -400px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

#id_footer5 {
    /* 設定footer的高度 */
    /*height: 50px;*/
    margin-bottom: -350px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}


#id_footer6 {
    /* 設定footer的高度 */
    /*height: 50px;*/
    margin-bottom: -850px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

/*下面是木的客製*/
.custo1{
	display: block;
	/*background-color: #555;*/
	width: 1024px;
	height: 550px;
	margin: 0 auto;
	float: left;
}



#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 600px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}



/*
.a1 {
  position: absolute;
 
  display: block;
  width: 100px;
  background: green;
}

.c {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 50%;
  height: 200px;
  background: #f90;
  transition: all .3s ease;
  opacity: 0;
}

.selldown3 .a1 img {
  position: relative;
  z-index: 2;
  display: block;
  line-height: 400px;
  background: #f00;
}

.selldown3 .a1 img:hover {
  span .c {
    top: 500px;
    opacity: 1;
  }*/
